.SetupInputScreen {
    background-color: rgb(66, 66, 66);
    height: 100vh;
    width: 100vw;
}

.TabContent {
    height: 90vh;
}

.TabList {
    height: 10vh;
    display: flex;
    background-color: rgb(94, 94, 94);
}

.TabSelector {
    flex-grow: 1;
    color: #fff;
    line-height: 10vh;
    text-align: center;
    position: relative;
    border: none;
    padding: 0;
    background-color: rgb(94, 94, 94);
}

.TabSelectorSpike {
    position: absolute;
    display: inline-block;
    width: 10vh;
    height: 10vh;
    bottom: 0;
    fill: rgb(94, 94, 94);
    right: -10vh;
    z-index: 1;
}

.TabSelector.selected {
    background-color: #006b62;
}

.TabSelector.selected .TabSelectorSpike{
    fill: rgb(0, 107, 98);
}

form input{
    display: block;
    padding: 0;
    background-color: rgb(85, 85, 85);
    border: solid;
    border-width: 1px;
    border-color: #000;
    color: #fff;
    text-align: center;
}


@media only screen and (max-width: 700px) {
    .TabSelectorSpike {
        display: none;
    }
}