version: "3.7"
services:
    backend:
        build: ./backend
        volumes:
            - ./backend/source:/var/www/html/
    database:
        build: ./database
        volumes:
            - db-data:/var/lib/mysql
    frontend:
        build: ./frontend
        ports:
            - "8080:80"
    websocket:
        build: ./websocket
        volumes:
            - ./websocket/source:/usr/src/app
volumes:
    db-data: