version: "3.7"
services:
    database:
        build: ./database
        volumes:
            - db-data:/var/lib/mysql
    frontend:
        build: ./frontend
        ports:
            - "8080:80"
    websocket:
        build: ./websocket
    websocket-cpp:
        build: ./websocket-cpp
volumes:
    db-data: