.MainApp {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.MainApp .footer{
    width: 100%;
    height: 2rem;
    background-color: rgb(90, 90, 90);
}

@media only screen and (max-width: 700px) {
    .MainApp .footer{
        display: none;
    }
}