.AdminTab {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5%;
}

.AdminTab label{
    margin: 1rem 0 1rem 0;
    color: #fff;
}

.PasswordMatchWarning {
    margin: 0;
    text-align: center;
    background-color: #aa0000;
    color: #fff;
}